---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:

        - id: check-json
        - id: check-yaml
        - id: end-of-file-fixer
          exclude:  &exclude_pre_commit_hooks >
            (?x)^(
                test/.*(?<!\.py)$|
                examples/.*(?<!\.py)$|
            )$
        - id: trailing-whitespace
          exclude: *exclude_pre_commit_hooks

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
        - id: black
          language_version: python3 # Should be a command that runs python3.6+
          exclude: aiida_cp2k/workchains/base.py

    # - repo: https://github.com/PyCQA/flake8
    #   rev: 4.0.1
    #   hooks:
    #       - id: flake8
    #         args: [--count, --show-source, --statistics]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
        - id: isort
          args: [--profile, black, --filter-files]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
        - id: pyupgrade
          args: [--py37-plus]
